.css-slider .slides {
  display: flex;
  gap: var(--css-slide-gap, 1rem);
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}
.css-slider .slides::-webkit-scrollbar {
  display: none; /* WebKit */
}
.css-slider .slide {
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
  scroll-margin-top: 30dvh;
}

.css-slider--inline .slides {
  scroll-snap-type: inline mandatory;
  overflow-x: scroll;
}

.css-slider--block .slides {
  flex-direction: column;
  scroll-snap-type: block mandatory;
  overflow-y: scroll;
}

/* @todo what could scrolling in both directions be used for? */
.css-slider--both .slides {
  scroll-snap-type: both mandatory;
  overflow-x: scroll;
  overflow-y: scroll;
}
