.css-slider {
  position: relative;

  .controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--slider-dot-gap, 0.5rem);
    margin-block: var(--slider-dot-gap, 0.5rem);

    >.dot {
      width: var(--slider-dot-size, 1rem);
      aspect-ratio: 1;

      border-radius: 50%;
      background-color: var(--slider-dot-color, currentColor);

      opacity: 0.4;
      transition: opacity 0.2s;

      &:is(:hover, :focus) {
        opacity: 1;
      }
    }

    &.overlay {
      position: absolute;
      right: 0;
      bottom: 0.6em;
      left: 0;
    }
  }
}
