
{#
/**
 * @file
 * Default theme implementation of a HTML progress formatter.
 *
 * Available variables:
 */
#}
{% set classes = [
  'css-slider',
  'css-slider--' ~ axis
]
%}

<div {{ attributes.addClass(classes) }}>
  <div class="slides">
  {% for slide in slides %}
    <div {{ slide.attributes }} >
      {{ slide.content }}
    </div>
  {% endfor %}
  </div>

  {% if controls %}
  <div class="controls">
  {% for link in controls %}
    {{ link }}
  {% endfor %}
  {% endif %}
  </div>
</div>
